.table {
    justify-self: center;
}

.table {
    margin: 0 auto;
    margin-top: 20px;
    border: 20px solid rgb(108, 114, 114);
}

td {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    height: 60px;
    outline: solid rgb(47, 63, 78);
    justify-self: center;
}

.black {
    background-image: url(./PIECES/blackbackground.png);
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}