.light {
    background-image: url(./PIECES/blackbackground.png);
    width: 65px;
    height: 65px;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    background-color: rgb(39, 57, 65);
    margin: 10px;
}

h1 {
    text-decoration: underline black;
}

.chessBoard {
    position: relative;
    text-align: center;
    margin-top: 10px;
    border: 7px solid black;

}

.black {
    width: 60px;
    height: 60px;
    text-align: center;
    user-select: none;

}

.dark {
    width: 65px;
    height: 65px;
    background-color: rgb(164, 164, 175);
    font-size: 40px;
    text-align: center;
    user-select: none;

}

img {
    width: 60px;
    height: 60px;
}

.selected {
    background-color: rgb(57, 58, 61);
}

.possible-move {
    background-color: rgb(73, 90, 105);
}